.elementor-26454 .elementor-element.elementor-element-65a6781{--display:flex;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--overlay-opacity:0.5;--border-radius:20px 20px 20px 20px;box-shadow:0px 0px 15px 0px rgba(0,0,0,0.15);--padding-top:10%;--padding-bottom:10%;--padding-left:10%;--padding-right:10%;}.elementor-26454 .elementor-element.elementor-element-65a6781:not(.elementor-motion-effects-element-type-background), .elementor-26454 .elementor-element.elementor-element-65a6781 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-26454 .elementor-element.elementor-element-65a6781::before, .elementor-26454 .elementor-element.elementor-element-65a6781 > .elementor-background-video-container::before, .elementor-26454 .elementor-element.elementor-element-65a6781 > .e-con-inner > .elementor-background-video-container::before, .elementor-26454 .elementor-element.elementor-element-65a6781 > .elementor-background-slideshow::before, .elementor-26454 .elementor-element.elementor-element-65a6781 > .e-con-inner > .elementor-background-slideshow::before, .elementor-26454 .elementor-element.elementor-element-65a6781 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-26454 .elementor-element.elementor-element-65a6781.e-con{--align-self:center;}.elementor-widget-heading .elementor-heading-title{color:var( --e-global-color-primary );}.elementor-26454 .elementor-element.elementor-element-1cbe712{width:100%;max-width:100%;text-align:center;}.elementor-26454 .elementor-element.elementor-element-1cbe712 .elementor-heading-title{font-family:"Plus Jakarta Sans";font-size:40px;font-weight:700;line-height:1.2em;letter-spacing:-2px;color:#020D24;}.elementor-widget-text-editor{color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-26454 .elementor-element.elementor-element-e0606a2{width:100%;max-width:100%;text-align:center;font-family:"Inter";font-size:22px;font-weight:400;line-height:1.3em;color:#020D24;}.elementor-26454 .elementor-element.elementor-element-e0606a2 > .elementor-widget-container{margin:-20px 0px 0px 0px;}.elementor-widget-form .elementor-field-group > label, .elementor-widget-form .elementor-field-subgroup label{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-type-html{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-group .elementor-field{color:var( --e-global-color-text );}.elementor-widget-form .e-form__buttons__wrapper__button-next{background-color:var( --e-global-color-accent );}.elementor-widget-form .elementor-button[type="submit"]{background-color:var( --e-global-color-accent );}.elementor-widget-form .e-form__buttons__wrapper__button-previous{background-color:var( --e-global-color-accent );}.elementor-widget-form{--e-form-steps-indicator-inactive-primary-color:var( --e-global-color-text );--e-form-steps-indicator-active-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-completed-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-background-color:var( --e-global-color-text );--e-form-steps-indicator-progress-meter-color:var( --e-global-color-text );}.elementor-26454 .elementor-element.elementor-element-ab75728{width:var( --container-widget-width, 491px );max-width:491px;--container-widget-width:491px;--container-widget-flex-grow:0;--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-primary-color:#000000;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-26454 .elementor-element.elementor-element-ab75728 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:7px;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-7px;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-group > label, .elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-subgroup label{color:#000000;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-group > label{font-family:"Poppins";font-weight:400;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-type-html{padding-bottom:0px;color:#000000;font-family:"Inter";font-weight:400;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-group .elementor-field{color:#000000;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-group .elementor-field, .elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-subgroup label{font-family:"Inter";font-size:16px;font-weight:400;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-group .elementor-field:not(.elementor-select-wrapper){background-color:#F5F5F5;border-color:#94290096;border-radius:6em 6em 6em 6em;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-group .elementor-select-wrapper select{background-color:#F5F5F5;border-color:#94290096;border-radius:6em 6em 6em 6em;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-group .elementor-select-wrapper::before{color:#94290096;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-button{font-family:"Inter";font-size:22.64px;font-weight:700;font-style:normal;border-style:solid;border-width:1px 1px 1px 1px;border-radius:6em 6em 6em 6em;}.elementor-26454 .elementor-element.elementor-element-ab75728 .e-form__buttons__wrapper__button-next{background-color:#000000;color:#FFFFFF;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-button[type="submit"]{background-color:#000000;color:#FFFFFF;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-button[type="submit"] svg *{fill:#FFFFFF;}.elementor-26454 .elementor-element.elementor-element-ab75728 .e-form__buttons__wrapper__button-previous{color:#FFFFFF;border-color:#F5F5F5;}.elementor-26454 .elementor-element.elementor-element-ab75728 .e-form__buttons__wrapper__button-next:hover{color:#6A6A6A;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-button[type="submit"]:hover{color:#6A6A6A;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-button[type="submit"]:hover svg *{fill:#6A6A6A;}.elementor-26454 .elementor-element.elementor-element-ab75728 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-message{font-family:"Roboto";font-weight:400;}.elementor-26454 .elementor-element.elementor-element-b747cd0{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}#elementor-popup-modal-26454{background-color:rgba(0,0,0,.8);justify-content:center;align-items:center;pointer-events:all;}#elementor-popup-modal-26454 .dialog-message{width:640px;height:auto;}#elementor-popup-modal-26454 .dialog-close-button{display:flex;}#elementor-popup-modal-26454 .dialog-widget-content{box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}@media(max-width:1024px){.elementor-26454 .elementor-element.elementor-element-65a6781{--padding-top:6%;--padding-bottom:6%;--padding-left:10%;--padding-right:21%;}}@media(max-width:767px){.elementor-26454 .elementor-element.elementor-element-65a6781{--padding-top:15%;--padding-bottom:15%;--padding-left:10%;--padding-right:10%;}.elementor-26454 .elementor-element.elementor-element-1cbe712.elementor-element{--align-self:center;}.elementor-26454 .elementor-element.elementor-element-1cbe712{text-align:center;}.elementor-26454 .elementor-element.elementor-element-1cbe712 .elementor-heading-title{font-size:30px;}.elementor-26454 .elementor-element.elementor-element-e0606a2 > .elementor-widget-container{margin:-16px 0px -15px 0px;padding:0px 0px 0px 0px;}.elementor-26454 .elementor-element.elementor-element-e0606a2.elementor-element{--align-self:center;}.elementor-26454 .elementor-element.elementor-element-e0606a2{text-align:center;font-size:16px;line-height:1.3em;}.elementor-26454 .elementor-element.elementor-element-ab75728 > .elementor-widget-container{margin:-8px 0px 0px 0px;}.elementor-26454 .elementor-element.elementor-element-ab75728{--container-widget-width:526px;--container-widget-flex-grow:0;width:var( --container-widget-width, 526px );max-width:526px;}.elementor-26454 .elementor-element.elementor-element-ab75728.elementor-element{--align-self:center;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-group .elementor-field, .elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-field-subgroup label{font-size:14px;}.elementor-26454 .elementor-element.elementor-element-ab75728 .elementor-button{font-size:16px;}}/* Start custom CSS for heading, class: .elementor-element-1cbe712 */.gradient-blue2 {
  background: linear-gradient(90deg, #0090D8 0%, #105DDA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;

  /* novas propriedades */
  font-weight: 500; /* semi-bold */
}/* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-ab75728 */.elementor-form .elementor-button::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border-radius: 500px !important;
    border: 2px solid #45FF66 !important; /* verde vivo */
    background: rgba(69, 255, 102, 0.12) !important; /* brilho verde suave */
    opacity: 0; /* começa invisível */
    animation: borderFade 2.5s ease-in-out infinite; /* animação suave */
    pointer-events: none;
    z-index: 1;
}

.elementor-form .elementor-button::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 500px !important;
    background-image: linear-gradient(
        89deg,
        #45FF66 0%,
        #1ED53F 25%,
        #35BE4E 38%,
        #005710 100%
    ) !important;
    background-size: 400% 200%;
    animation: textura 2s ease infinite;
    pointer-events: none;
    z-index: 0;
}

.elementor-form .elementor-button {
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    z-index: 2;
}

.elementor-form .elementor-button .elementor-button-icon {
    color: #45FF66 !important;
    fill: #45FF66 !important;
    transition: rotate 0.6s ease;
    position: relative;
    z-index: 5;
}

.elementor-form .elementor-button:hover {
    transform: scale(1.04);
}

.elementor-form .elementor-button:hover .elementor-button-icon {
    rotate: 360deg; /* 🔄 Gira o ícone 360 graus no hover */
}

.elementor-form .elementor-button .elementor-button-icon {
    transition: rotate 0.6s ease; /* Transição suave da rotação */
}

/* 🔹 Animação apenas da opacidade da borda */
@keyframes borderFade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@media (max-width: 767px) {
    .elementor-form .elementor-button::before {
        width: calc(100% + 16px);
        height: calc(100% + 16px);
    }
}

.elementor-form .elementor-button span {
    position: relative;
    z-index: 4;
    white-space: wrap !important;
}

@keyframes textura {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}

.elementor-26454 .elementor-element.elementor-element-ab75728 .iti{
    
    width:100% !important;
    
    
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../fonts/PlusJakartaSans-Regular.eot');
	src: url('../fonts/PlusJakartaSans-Regular.eot#iefix') format('embedded-opentype'),
		url('../fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
		url('../fonts/PlusJakartaSans-Regular.woff') format('woff'),
		url('../fonts/PlusJakartaSans-Regular.ttf') format('truetype'),
		url('../images/PlusJakartaSans-Regular.svg#PlusJakartaSans') format('svg');
}
@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../fonts/PlusJakartaSans-Light.eot');
	src: url('../fonts/PlusJakartaSans-Light.eot#iefix') format('embedded-opentype'),
		url('../fonts/PlusJakartaSans-Light.woff2') format('woff2'),
		url('../fonts/PlusJakartaSans-Light.woff') format('woff'),
		url('../fonts/PlusJakartaSans-Light.ttf') format('truetype'),
		url('../images/PlusJakartaSans-Light.svg#PlusJakartaSans') format('svg');
}
@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../fonts/PlusJakartaSans-Bold.eot');
	src: url('../fonts/PlusJakartaSans-Bold.eot#iefix') format('embedded-opentype'),
		url('../fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
		url('../fonts/PlusJakartaSans-Bold.woff') format('woff'),
		url('../fonts/PlusJakartaSans-Bold.ttf') format('truetype'),
		url('../images/PlusJakartaSans-Bold.svg#PlusJakartaSans') format('svg');
}
/* End Custom Fonts CSS */